<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Search For:</h3>
						<input type="text" placeholder="Keywords">
						<button type="submit">Search <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>See more Details</p>
					<h1>Single Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
	<div class="container">
							
		<div class="row">
		
			
			<div class="col-md-5">
				<div class="single-product-img lens" id="img-container"  >
					<img src="{{product.images.[0]}}" alt="" class="block__pic" id="ProductImg">



					
				</div>
					<div class="multi" style="display: flex;flex-direction:row;background-color:rgb(255, 255, 255);height:170px;margin-top:20px;">
						
						<div class="one" style="background-color: rgb(246, 255, 255);"> <img src="{{product.images.[1]}}" style="width:183px ;height:183px;" alt="" class="small-img m-3"></div>
						<div class="two" style="background-color: rgb(255, 255, 255);"><img src="{{product.images.[2]}}" style="width:183px ;height:183px;" alt="" class=" small-img m-3"></div>
						<div class="three" style="background-color: rgb(255, 255, 255);"><img src="{{product.images.[3]}}" style="width:183px ;height:183px;" alt=""  class=" small-img m-3"></div>
					</div>
				
			</div>

			<div class="col-md-7">
				<div class="single-product-content">
					<h3>{{product.name}}</h3>
					<p class="single-product-pricing"><span></span>{{product.price}}</p>
					<p>{{product.description}}</p>
					<div class="single-product-form">
						<form action="index.html">
							{{!-- <input type="number" placeholder="0"> --}}
						</form>
						{{#if product.stock}}
						{{#if ../users}}
						<button class="boxed-btn" id="btn" onclick="addtocart('{{product._id}}')"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                         {{else}}
						<a href="/user/login" type="button" onclick="sweetalertclick()" class="cart-btn"
							id="addcrt"><i class="fas fa-shopping-cart"></i> Add to Cart</a> 
                         {{/if}}
						 {{else}}
						<a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i>Out of stock</a>
						{{/if}}
						{{!-- <a href="/user/add-to-cart/{{product._id}}" type="button" onclick="sweetalertclick()" class="cart-btn" id="addcrt"><i class="fas fa-shopping-cart"></i> Add to Cart</a> --}}
						<p><strong>Categories: </strong>{{product.category}}</p>
					</div>
					<h4>Share:</h4>
					<ul class="product-share">
						<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href=""><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end single product -->

<!-- more products -->
<div class="more-products mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Related</span> Products</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet
						beatae optio.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/e1f6eb98-921b-4ad5-90f7-c660082a9095/zoom-mercurial-superfly-9-elite-cr7-fg-football-boot-NBx17c.png" alt=""></a>
					</div>
					<h3>Nike Zoom Mercurial Superfly 9 Elite CR7 FG</h3>
					<p class="product-price"><span></span> 2800 </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/1a0857c7-c11b-48b8-9f68-e1527f7ff434/custom-nike-mercurial-superfly-9-elite-by-you.png" alt=""></a>
					</div>
					<h3>Nike Streetgato</h3>
					<p class="product-price"><span></span> 7,995 </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/e8849966-f66c-47a7-b647-3a01ceda0389/custom-nike-phantom-gt-elite-by-you.png" alt=""></a>
					</div>
					<h3>NIKE ELITE GT2</h3>
					<p class="product-price"><span></span> 12,350 </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end more products -->
<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium
						doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
						<li>support@fruitkha.com</li>
						<li>+00 111 222 3333</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="/user">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="/user/shop">Shop</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="index.html">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights Reserved.
				</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end shop banner -->

<script>
	
	
		var ProductImg = document.getElementById('ProductImg');
		var SmallImg = document.getElementsByClassName('small-img');
	     SmallImg[0].onclick = function () {
				ProductImg.src = SmallImg[0].src;
			};
		SmallImg[1].onclick = function () {
			ProductImg.src = SmallImg[1].src;
		};
		SmallImg[2].onclick = function () {
			ProductImg.src = SmallImg[2].src;
		};
		SmallImg[3].onclick = function () {
			ProductImg.src = SmallImg[3].src;
		};



	
</script>
<style>
	 .boxed-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.boxed-btn, a.bordered-btn, a.cart-btn {
    border-radius: 50px;
}
.boxed-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
}

.boxed-btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.boxed-btn:hover {
  background-color: #051922;
  color: #F28123;
}

</style>